In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import plotly.express as px
import calendar

In [2]:
hurr_df_full = pd.read_csv('/Users/danielbrechner/hurrdat_co2/assets/atlantic.csv')
hurr_df_full.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [3]:
hurr_df = hurr_df_full.drop(columns=['ID', 'Time', 'Event', 'Low Wind NE', 'Low Wind SE', 'Low Wind SW', 'Low Wind NW', 'Moderate Wind NE', 'Moderate Wind SE', 'Moderate Wind SW', 'Moderate Wind NW', 'High Wind NE', 'High Wind SE', 'High Wind SW', 'High Wind NW'], axis = 1,)

In [4]:
hurr_df['Date'] = pd.to_datetime(hurr_df['Date'].astype(str), format = '%Y %m %d')
hurr_df

,Name,Date,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
0,UNNAMED,1851-06-25,HU,28.0N,94.8W,80,-999
1,UNNAMED,1851-06-25,HU,28.0N,95.4W,80,-999
2,UNNAMED,1851-06-25,HU,28.0N,96.0W,80,-999
3,UNNAMED,1851-06-25,HU,28.1N,96.5W,80,-999
4,UNNAMED,1851-06-25,HU,28.2N,96.8W,80,-999
...,...,...,...,...,...,...,...
49100,KATE,2015-11-12,EX,41.3N,50.4W,55,981
49101,KATE,2015-11-12,EX,41.9N,49.9W,55,983
49102,KATE,2015-11-13,EX,41.5N,49.2W,50,985
49103,KATE,2015-11-13,EX,40.8N,47.5W,45,985
49104,KATE,2015-11-13,EX,40.7N,45.4W,45,987

In [5]:
hurr_df['Year'] = hurr_df['Date'].map(lambda x: x.year)
hurr_df['Month'] = hurr_df['Date'].map(lambda x: x.month)
hurr_df.head()

,Name,Date,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Year,Month
0,UNNAMED,1851-06-25,HU,28.0N,94.8W,80,-999,1851,6
1,UNNAMED,1851-06-25,HU,28.0N,95.4W,80,-999,1851,6
2,UNNAMED,1851-06-25,HU,28.0N,96.0W,80,-999,1851,6
3,UNNAMED,1851-06-25,HU,28.1N,96.5W,80,-999,1851,6
4,UNNAMED,1851-06-25,HU,28.2N,96.8W,80,-999,1851,6

In [6]:
cols_to_check = ['Maximum Wind', 'Minimum Pressure']
negative_mask = (hurr_df[cols_to_check] < 0)
hurr_df[cols_to_check] = hurr_df[cols_to_check].mask(negative_mask, np.nan)

In [7]:
hurr_df['Latitude'] = hurr_df['Latitude'].str[:-1].astype(float)
hurr_df['Longitude'] = hurr_df['Longitude'].str[:-1].astype(float)