In [1]:
import pandas as pd

In [2]:
co2 = pd.read_csv('/Users/danielbrechner/hurrdat_co2/assets/co2.csv');
co2.head()

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km�
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km�
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km�
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km�
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km�

Only using the same years availible in the Hurricane dataset (1851-2015)

In [3]:
co2_df = co2.query('Year >= 1851 & Year < 2016')
co2_df

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
101,Afghanistan,AF,93,1851,0.0,41128771.0,652230.0,0.40%,63/km�
102,Afghanistan,AF,93,1852,0.0,41128771.0,652230.0,0.40%,63/km�
103,Afghanistan,AF,93,1853,0.0,41128771.0,652230.0,0.40%,63/km�
104,Afghanistan,AF,93,1854,0.0,41128771.0,652230.0,0.40%,63/km�
105,Afghanistan,AF,93,1855,0.0,41128771.0,652230.0,0.40%,63/km�
...,...,...,...,...,...,...,...,...,...
59610,Zimbabwe,ZW,263,2011,681878824.0,16320537.0,390757.0,0.30%,42/km�
59611,Zimbabwe,ZW,263,2012,689761713.0,16320537.0,390757.0,0.30%,42/km�
59612,Zimbabwe,ZW,263,2013,701597967.0,16320537.0,390757.0,0.30%,42/km�
59613,Zimbabwe,ZW,263,2014,713503654.0,16320537.0,390757.0,0.30%,42/km�
59614,Zimbabwe,ZW,263,2015,725729475.0,16320537.0,390757.0,0.30%,42/km�

In [4]:
co2_small = co2_df.drop(columns=['Code', 'Calling Code','Area','% of World','Density(km2)'])
co2_small

           Country  Year  CO2 emission (Tons)  Population(2022)
101    Afghanistan  1851                  0.0        41128771.0
102    Afghanistan  1852                  0.0        41128771.0
103    Afghanistan  1853                  0.0        41128771.0
104    Afghanistan  1854                  0.0        41128771.0
105    Afghanistan  1855                  0.0        41128771.0
...            ...   ...                  ...               ...
59610     Zimbabwe  2011          681878824.0        16320537.0
59611     Zimbabwe  2012          689761713.0        16320537.0
59612     Zimbabwe  2013          701597967.0        16320537.0
59613     Zimbabwe  2014          713503654.0        16320537.0
59614     Zimbabwe  2015          725729475.0        16320537.0

[36300 rows x 4 columns]