In [9]:
import pandas as pd
import datetime

In [32]:
atlantic = pd.read_csv('/Users/danielbrechner/hurrdat_co2/assets/atlantic.csv')
atlantic.tail()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
49100,AL122015,KATE,20151112,1200,,EX,41.3N,50.4W,55,981,...,180,120,120,120,60,0,0,0,0,0
49101,AL122015,KATE,20151112,1800,,EX,41.9N,49.9W,55,983,...,180,120,120,120,60,0,0,0,0,0
49102,AL122015,KATE,20151113,0,,EX,41.5N,49.2W,50,985,...,200,220,120,120,60,0,0,0,0,0
49103,AL122015,KATE,20151113,600,,EX,40.8N,47.5W,45,985,...,180,220,0,0,0,0,0,0,0,0
49104,AL122015,KATE,20151113,1200,,EX,40.7N,45.4W,45,987,...,150,220,0,0,0,0,0,0,0,0

In [6]:
pacific = pd.read_csv('/Users/danielbrechner/hurrdat_co2/assets/pacific.csv')
pacific.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

Concatenating Atlantic and Pacific DataFrames

In [31]:
hurrdat = [atlantic, pacific]
hurr_df = pd.concat(hurrdat)
hurr_df.tail()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
26132,EP222015,SANDRA,20151128,1200,,LO,21.7N,109.0W,35,1002,...,0,0,0,0,0,0,0,0,0,0
26133,EP222015,SANDRA,20151128,1800,,LO,22.4N,108.7W,30,1007,...,0,0,0,0,0,0,0,0,0,0
26134,EP222015,SANDRA,20151129,0,,LO,23.1N,108.3W,30,1008,...,0,0,0,0,0,0,0,0,0,0
26135,EP222015,SANDRA,20151129,600,,LO,23.5N,107.9W,25,1009,...,0,0,0,0,0,0,0,0,0,0
26136,EP222015,SANDRA,20151129,1200,,LO,24.2N,107.7W,20,1010,...,0,0,0,0,0,0,0,0,0,0

# Reading in CO2 data

In [10]:
co2 = pd.read_csv('/Users/danielbrechner/hurrdat_co2/assets/co2.csv');
co2.head()

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/kmï¿½

Only using the same years availible in the Hurricane dataset (1851-2015)

In [33]:
co2_df = co2.query('Year >= 1851 & Year < 2016')
co2_df

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
101,Afghanistan,AF,93,1851,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
102,Afghanistan,AF,93,1852,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
103,Afghanistan,AF,93,1853,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
104,Afghanistan,AF,93,1854,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
105,Afghanistan,AF,93,1855,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
...,...,...,...,...,...,...,...,...,...
59610,Zimbabwe,ZW,263,2011,681878824.0,16320537.0,390757.0,0.30%,42/kmï¿½
59611,Zimbabwe,ZW,263,2012,689761713.0,16320537.0,390757.0,0.30%,42/kmï¿½
59612,Zimbabwe,ZW,263,2013,701597967.0,16320537.0,390757.0,0.30%,42/kmï¿½
59613,Zimbabwe,ZW,263,2014,713503654.0,16320537.0,390757.0,0.30%,42/kmï¿½
59614,Zimbabwe,ZW,263,2015,725729475.0,16320537.0,390757.0,0.30%,42/kmï¿½