In [9]:
import pandas as pd
import datetime

In [4]:
atlantic = pd.read_csv('/Users/danielbrechner/hurrdat_co2/assets/atlantic.csv')
atlantic.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [6]:
pacific = pd.read_csv('/Users/danielbrechner/hurrdat_co2/assets/pacific.csv')
pacific.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

# Reading in CO2 data

In [10]:
co2 = pd.read_csv('/Users/danielbrechner/hurrdat_co2/assets/co2.csv');
co2.head()

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/kmï¿½

Only using the same years availible in the Hurricane dataset (1851-2014)

In [17]:
co2_df = co2.query('Year >= 1851 & Year < 2015')
co2_df

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
101,Afghanistan,AF,93,1851,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
102,Afghanistan,AF,93,1852,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
103,Afghanistan,AF,93,1853,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
104,Afghanistan,AF,93,1854,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
105,Afghanistan,AF,93,1855,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
...,...,...,...,...,...,...,...,...,...
59609,Zimbabwe,ZW,263,2010,672134841.0,16320537.0,390757.0,0.30%,42/kmï¿½
59610,Zimbabwe,ZW,263,2011,681878824.0,16320537.0,390757.0,0.30%,42/kmï¿½
59611,Zimbabwe,ZW,263,2012,689761713.0,16320537.0,390757.0,0.30%,42/kmï¿½
59612,Zimbabwe,ZW,263,2013,701597967.0,16320537.0,390757.0,0.30%,42/kmï¿½
59613,Zimbabwe,ZW,263,2014,713503654.0,16320537.0,390757.0,0.30%,42/kmï¿½