In [58]:
import pandas as pd
import datetime

In [59]:
atlantic = pd.read_csv('/Users/danielbrechner/hurrdat_co2/assets/atlantic.csv')
atlantic.tail()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
49100,AL122015,KATE,20151112,1200,,EX,41.3N,50.4W,55,981,...,180,120,120,120,60,0,0,0,0,0
49101,AL122015,KATE,20151112,1800,,EX,41.9N,49.9W,55,983,...,180,120,120,120,60,0,0,0,0,0
49102,AL122015,KATE,20151113,0,,EX,41.5N,49.2W,50,985,...,200,220,120,120,60,0,0,0,0,0
49103,AL122015,KATE,20151113,600,,EX,40.8N,47.5W,45,985,...,180,220,0,0,0,0,0,0,0,0
49104,AL122015,KATE,20151113,1200,,EX,40.7N,45.4W,45,987,...,150,220,0,0,0,0,0,0,0,0

In [60]:
pacific = pd.read_csv('/Users/danielbrechner/hurrdat_co2/assets/pacific.csv')
pacific.head(100)

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,EP011950,UNNAMED,19500617,1800,,HU,16.8N,102.8W,75,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
96,EP011950,UNNAMED,19500618,0,,HU,17.0N,103.6W,75,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
97,EP011950,UNNAMED,19500618,600,,HU,17.4N,105.0W,75,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
98,EP011950,UNNAMED,19500618,1200,,HU,18.1N,106.0W,75,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
99,EP011950,UNNAMED,19500618,1800,,HU,19.0N,106.0W,75,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

Concatenating Atlantic and Pacific DataFrames

In [61]:
hurrdat = [atlantic, pacific]
hurr_df = pd.concat(hurrdat)
hurr_df.tail()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
26132,EP222015,SANDRA,20151128,1200,,LO,21.7N,109.0W,35,1002,...,0,0,0,0,0,0,0,0,0,0
26133,EP222015,SANDRA,20151128,1800,,LO,22.4N,108.7W,30,1007,...,0,0,0,0,0,0,0,0,0,0
26134,EP222015,SANDRA,20151129,0,,LO,23.1N,108.3W,30,1008,...,0,0,0,0,0,0,0,0,0,0
26135,EP222015,SANDRA,20151129,600,,LO,23.5N,107.9W,25,1009,...,0,0,0,0,0,0,0,0,0,0
26136,EP222015,SANDRA,20151129,1200,,LO,24.2N,107.7W,20,1010,...,0,0,0,0,0,0,0,0,0,0

Finding null values

In [62]:
hurr_df.isnull().values.any()

False

In [63]:
hurr_df.describe()

,Date,Time,Maximum Wind,Minimum Pressure,Low Wind NE,Low Wind SE,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
count,7.524200e+04,75242.000000,75242.000000,75242.000000,75242.000000,75242.000000,75242.000000,75242.000000,75242.000000,75242.000000,75242.000000,75242.000000,75242.000000,75242.000000,75242.000000,75242.000000
mean,1.963386e+07,905.236517,50.943609,-157.760878,-825.733646,-826.587690,-829.468329,-827.956872,-832.508453,-832.805627,-833.614750,-833.172510,-834.497103,-834.626751,-834.892228,-834.708022
std,4.177298e+05,671.407615,26.928866,984.155393,392.926306,390.942712,384.105011,387.655995,376.730809,376.050162,374.125576,375.163319,372.043479,371.742185,371.121593,371.551726
min,1.851062e+07,0.000000,-99.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
25%,1.937100e+07,600.000000,30.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
50%,1.975070e+07,1200.000000,45.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
75%,1.996101e+07,1700.000000,65.000000,997.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
max,2.015113e+07,2330.000000,185.000000,1024.000000,710.000000,600.000000,640.000000,1180.000000,360.000000,300.000000,330.000000,360.000000,180.000000,250.000000,150.000000,180.000000

Hurricanes are tropical cyclones with winds that exceed 64 knots (74 mile/hr). In the dataframe the status is HU

In [64]:
hu_status = hurr_df[hurr_df["Maximum Wind"] > 74]
hu_status['Date']

0        18510625
1        18510625
2        18510625
3        18510625
4        18510625
           ...
26125    20151126
26126    20151127
26127    20151127
26128    20151127
26129    20151127
Name: Date, Length: 15262, dtype: int64

In [65]:
hu_status

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26125,EP222015,SANDRA,20151126,1800,,HU,16.3N,110.2W,115,947,...,60,90,60,40,30,40,30,25,15,25
26126,EP222015,SANDRA,20151127,0,,HU,17.4N,109.8W,110,951,...,60,90,60,40,30,40,30,25,15,25
26127,EP222015,SANDRA,20151127,600,,HU,18.5N,109.3W,95,963,...,60,90,60,40,30,30,30,25,15,20
26128,EP222015,SANDRA,20151127,1200,,HU,19.3N,108.8W,85,970,...,50,70,60,40,30,30,30,25,15,20
26129,EP222015,SANDRA,20151127,1800,,HU,20.0N,108.2W,75,978,...,40,60,60,40,20,30,35,25,10,20

In [66]:
intense_hurr = hurr_df[hurr_df["Maximum Wind"] >= 130 ]
intense_hurr.plot

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
251,AL031853,UNNAMED,18530903,600,,HU,19.1N,54.6W,130,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
252,AL031853,UNNAMED,18530903,1200,,HU,19.7N,56.2W,130,924,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
253,AL031853,UNNAMED,18530903,1800,,HU,20.7N,58.0W,130,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
433,AL011856,UNNAMED,18560810,1200,,HU,28.7N,90.5W,130,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
434,AL011856,UNNAMED,18560810,1800,L,HU,29.2N,91.1W,130,934,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26072,EP202015,PATRICIA,20151023,600,,HU,16.5N,105.4W,180,886,...,60,130,50,50,40,40,25,20,20,20
26073,EP202015,PATRICIA,20151023,1200,,HU,17.3N,105.6W,185,872,...,60,130,50,50,40,40,25,25,20,25
26074,EP202015,PATRICIA,20151023,1800,,HU,18.3N,105.3W,180,878,...,80,120,50,50,50,60,30,30,20,30
26075,EP202015,PATRICIA,20151023,2300,L,HU,19.4N,105.0W,130,932,...,80,120,50,50,50,60,30,30,20,30
26123,EP222015,SANDRA,20151126,600,,HU,14.1N,110.2W,130,934,...,60,90,50,40,30,40,30,25,15,25

# Reading in CO2 data

In [67]:
co2 = pd.read_csv('/Users/danielbrechner/hurrdat_co2/assets/co2.csv');
co2.head()

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/kmï¿½

Only using the same years availible in the Hurricane dataset (1851-2015)

In [68]:
co2_df = co2.query('Year >= 1851 & Year < 2016')
co2_df

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
101,Afghanistan,AF,93,1851,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
102,Afghanistan,AF,93,1852,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
103,Afghanistan,AF,93,1853,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
104,Afghanistan,AF,93,1854,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
105,Afghanistan,AF,93,1855,0.0,41128771.0,652230.0,0.40%,63/kmï¿½
...,...,...,...,...,...,...,...,...,...
59610,Zimbabwe,ZW,263,2011,681878824.0,16320537.0,390757.0,0.30%,42/kmï¿½
59611,Zimbabwe,ZW,263,2012,689761713.0,16320537.0,390757.0,0.30%,42/kmï¿½
59612,Zimbabwe,ZW,263,2013,701597967.0,16320537.0,390757.0,0.30%,42/kmï¿½
59613,Zimbabwe,ZW,263,2014,713503654.0,16320537.0,390757.0,0.30%,42/kmï¿½
59614,Zimbabwe,ZW,263,2015,725729475.0,16320537.0,390757.0,0.30%,42/kmï¿½

In [69]:
co2_small = co2_df.drop(columns=['Code', 'Calling Code','Area','% of World','Density(km2)'])
co2_small

           Country  Year  CO2 emission (Tons)  Population(2022)
101    Afghanistan  1851                  0.0        41128771.0
102    Afghanistan  1852                  0.0        41128771.0
103    Afghanistan  1853                  0.0        41128771.0
104    Afghanistan  1854                  0.0        41128771.0
105    Afghanistan  1855                  0.0        41128771.0
...            ...   ...                  ...               ...
59610     Zimbabwe  2011          681878824.0        16320537.0
59611     Zimbabwe  2012          689761713.0        16320537.0
59612     Zimbabwe  2013          701597967.0        16320537.0
59613     Zimbabwe  2014          713503654.0        16320537.0
59614     Zimbabwe  2015          725729475.0        16320537.0

[36300 rows x 4 columns]